@import '_rem.scss';
@import '_variables.scss';

.bar-header{
    background: $primaryDark;
    padding: rem(10px) rem(15px);
    position: fixed;
    height: 80px;
    width: 100%;
    z-index: 10;
    transition: top 0.5s;

    .logo{
        margin: 0;
        padding-left: 10px;
        height: rem(32px);
        line-height: rem(32px);
    }
    .logo a{
        color: $accentDark;
        text-decoration: none;
        font-size: rem(32px);
    }

    .contribute{
        font-size: 40%;
    }

    .search{
        color: $white;
        right:0;
        height: rem(85px);
        line-height: rem(85px);
    }
}

body.main-page{
    background-color: $primaryDark;
    .bar-header{
        background-color: rgba(0,0,0,.7);
    }        
}