@import '_rem.scss';
@import '_variables.scss';
.post{
    position: relative;
    top: rem(30px);
    background: $white;
}

.post-content{
    padding: rem(40px) 0;
    img{
        max-width: 100%;
        margin: rem(0px) auto;
        display: block;
        padding: 10px 0;
        .emoji{
            display: inline;
            padding: 0px;
        }
            
        .post-cover{
            margin-bottom: rem(20px);
        }
    }
    img em{
        display: block;
        color: darken($lightGray,30%);
        text-align: center;
    }
       
    p, h1, h2, h3, h4, h5, h6, ul, ol, iframe{
        font-size: rem(18px);
        line-height: rem(35px);
        padding: 0 rem(20px);
        margin: 0 auto rem(20px);
        letter-spacing: 0.05rem;
    }
    h5.post-title {
        margin: 0 auto;
        line-height: rem(40px);
    }
    p.subtitle{
        color: darken(lightGray,30%);
        font-size: rem(18px);
        margin: 0 auto rem(10px);
        line-height: rem(30px);
    }
        
    p.post-info{
        font-size: rem(13px);
        letter-spacing: 0;
        color: darken(lightGray,30%)
        margin 0 auto
        span, time{
            vertical-align: middle;
        }
    }
}