@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
body {
  font-family: 'Raleway', sans-serif;
  background-color: #141414; }
  body a {
    color: #e50914; }

.bar-header {
  background: #141414;
  padding: 0.625 0.9375;
  position: fixed;
  height: 80px;
  width: 100%;
  z-index: 10;
  transition: top 0.5s; }
  .bar-header .logo {
    margin: 0;
    padding-left: 10px;
    height: 2;
    line-height: 2; }
  .bar-header .logo a {
    color: #42f44b;
    text-decoration: none;
    font-size: 2; }
  .bar-header .search {
    color: #ffffff;
    height: 5.3125;
    right: 0;
    line-height: 5.3125; }

body.main-page {
  background-color: #141414; }
  body.main-page .bar-header {
    background-color: rgba(0, 0, 0, 0.7); }

.flex-grid {
  display: flex;
  flex-flow: row wrap; }

.box-item {
  flex: 1 0 200px;
  margin: 0 0 1.875;
  padding: 20px;
  display: inline-block;
  min-height: 17.8125;
  transition: all .3s;
  position: relative;
  z-index: 1; }
  .box-item:hover {
    z-index: 2;
    transform: scale(1.1); }
    .box-item:hover img {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%); }
    .box-item:hover .box-body time, .box-item:hover .box-body p {
      color: #ffffff; }
    .box-item:hover .box-body .new-post:after {
      background-color: #000; }
    .box-item:hover .box-body .cover a:before {
      opacity: 1; }
  .box-item a {
    text-decoration: none;
    display: block; }
  .box-item .category {
    display: block;
    height: 2.25;
    line-height: 2.25;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.125;
    padding: 0 0.9375; }
    .box-item .category a {
      color: #42f44b; }
  .box-item .box-body img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    transition: all .2s ease-in-out; }
  .box-item .box-body time {
    font-weight: 300;
    font-size: 1;
    color: #737373;
    pointer-events: none; }
  .box-item .box-body h5 {
    margin: 0.625 0;
    font-size: 1.5;
    color: #42f44b; }
  .box-item .box-body p {
    margin: 0 0 1.25;
    color: #bfbfbf;
    font-size: 0.3125; }
  .box-item .box-body .tags a {
    height: 1.875;
    color: #42f44b;
    padding: 0 10px;
    border: 1px solid #42f44b;
    border-radius: 15px;
    display: inline-block;
    margin: 0 10px 0 0;
    z-index: 50; }
    .box-item .box-body .tags a:hover {
      color: #141414;
      background: #42f44b;
      border-color: #42f44b; }
  .box-item .box-body .new-post:after {
    content: 'New post';
    text-transform: uppercase;
    display: inline-block;
    background: themeColor;
    color: #fff;
    font-size: 0.8125;
    font-weight: 700;
    line-height: 1.5;
    padding: 0 0.5;
    position: absolute;
    margin-top: -2.1875; }
  .box-item .box-body .cover {
    position: relative; }
    .box-item .box-body .cover a:before {
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.7);
      background-image: url(./assets/img/icons/read.svg);
      background-size: 48px;
      background-repeat: no-repeat;
      background-position: center center;
      content: '';
      display: block;
      width: 5;
      height: 5;
      border-radius: 40px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -2.5;
      margin-left: -2.5;
      border: 2px solid #fff;
      z-index: 1000; }
    .box-item .box-body .cover .preload {
      background: url(./assets/img/icons/preloader.svg) center center no-repeat; }
  .box-item .box-info {
    padding: 0.9375; }

.post {
  position: relative;
  top: 1.875;
  background: #ffffff; }

.post-content {
  padding: 2.5 0; }
  .post-content img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    padding: 10px 0; }
    .post-content img .emoji {
      display: inline;
      padding: 0px; }
    .post-content img .post-cover {
      margin-bottom: 1.25; }
  .post-content img em {
    display: block;
    color: #a6a6a6;
    text-align: center; }
  .post-content p, .post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6, .post-content ul, .post-content ol, .post-content iframe {
    font-size: 1.125;
    line-height: 2.1875;
    padding: 0 1.25;
    margin: 0 auto 1.25;
    letter-spacing: 0.05rem; }
  .post-content h5.post-title {
    margin: 0 auto;
    line-height: 2.5; }
  .post-content p.subtitle {
    color: #878787;
    font-size: 1.125;
    margin: 0 auto 0.625;
    line-height: 1.875; }
  .post-content p.post-info {
    font-size: 0.8125;
    letter-spacing: 0;
    color: #878787 margin 0 auto span, time;
      color-vertical-align: middle; }
